In [3]:
import sklearn
import numpy
import pandas as pd
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
import joblib
import matplotlib.pyplot as plt

from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.neighbors import NearestNeighbors

import matplotlib.pyplot as plt

plt.rcParams["figure.figsize"] = (20,10)
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
from feature_engine.selection import DropFeatures

In [5]:
a=pd.read_csv('C:/Lancaster/MLFeatures.csv')
a.columns=['named', 'HH:MM:SS.mmmuuun','RMS','COUN','ENER','DURATION']
#features=a[['RMS','COUN','ENER','DURATION']]

In [ ]:
numeric_transformer = Pipeline(steps=[
                                     ('meanimputer', SimpleImputer(strategy='mean')),
                                     ])

categorical_transformer = Pipeline(steps=[
                                         ('onehotenc', OneHotEncoder(handle_unknown='ignore'))
                                         ])

In [7]:
drop_feat=['named', 'HH:MM:SS.mmmuuun']
col_transformer = ColumnTransformer(transformers=[('drop_columns', 'drop', drop_feat)
                                                  ], remainder='passthrough')
pipeline = Pipeline([
                     ('transform_column', col_transformer),
                    ])
pipeline.fit(a)
transformed_train=pipeline.transform(a)
pd.DataFrame(transformed_train)

       0     1     2      3
0    0.0   3.0   2.0  359.0
1    0.0  12.0   2.0  200.0
2    0.0   1.0   0.0   13.0
3    0.0  18.0  10.0  976.0
4    0.0   6.0   4.0  438.0
..   ...   ...   ...    ...
110  0.0  13.0   2.0  351.0
111  0.0   2.0   0.0   62.0
112  0.0   1.0   0.0    5.0
113  0.0  39.0   7.0  778.0
114  0.0  40.0   8.0  957.0

[115 rows x 4 columns]

In [33]:
import googleapiclient.discovery
from oauth2client.service_account import ServiceAccountCredentials
from googleapiclient.http import MediaIoBaseDownload
import io
credentials = ServiceAccountCredentials.from_json_keyfile_name(
            'C:/Lancaster/gdriveapi/credentialsAI.json')

In [34]:
service = googleapiclient.discovery.build('ml', 'v1', credentials=credentials)
name = 'projects/{}/models/{}/versions/{}'.format("tactical-racer-346909", "WeldPredictor", "V1")

In [35]:
instances=[20,0.0,389,97,12813,-1]
response = service.projects().predict(
    name=name,
    body={'instances': instances}
).execute()

In [29]:
print(response['predictions'])

[1]